# Set default behavior to normalize
* text=auto

# Declare files that will always have LF line endings on checkout
*.sh text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.py text eol=lf
